Repository 8kto/generic-chrome-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=.js,.jsx,.mjs, stylelint

Remove staled reviews
  components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Reformat code
  components/popup/index.html
Due: none

Add mascot to the title
  components/popup/index.html
Due: none

Update docs
  components/popup/index.html
  shared/styles/common.css
Due: stylelint

Update icons set
  images/igel128.png
  images/igel16.png
  images/igel32.png
  images/igel48.png
Due: none

Update docs tab
  components/popup/index.html
Due: none

Add missed image
  images/igel96.png
Due: none

Fix manifest and package.json info
  manifest.json
  package.json
Due: none

Remove outdated section
  manifest.json
Due: none

Fix docs tab and styles
  components/popup/index.html
  components/popup/styles.css
  shared/styles/common.css
Due: stylelint

Adjust styles
  components/popup/index.html
  shared/styles/common.css
  shared/styles/tabs.css
  shared/styles/variables.css
Due: stylelint

Update images, resize, add UI screenshot
  images/igel.jpg
  images/igel350.jpg
  images/igel96.png
  images/ui-tab-list.png
Due: none

Add screenshot
  README.md
Due: none

Extend allowed URLs, fix icons list
  manifest.json
Due: none

Extend readme
  README.md
Due: none

Add GitHub Actions workflow
  .github/workflows/main.yml
Due: none

Bump version
  manifest.json
  package.json
Due: none

Run linters with the package.json conf
  .github/workflows/main.yml
Due: none

Fix stylelint conf
  package.json
Due: none

Fix formatting
  shared/styles/reset.css
Due: stylelint

Add patch part for ver
  manifest.json
  package.json
Due: none

Install mversion
  yarn.lock
Due: none

Adjust mversion config
  .mversionrc
  manifest.json
  package.json
Due: none

Version updated: 1.1.1
  manifest.json
  package.json
Due: none

Add scripts
  package.json
Due: none

Version updated: 1.1.2
  manifest.json
  package.json
Due: none

Update docs
  README.md
Due: none

Fix links, extend message
  components/popup/index.html
  components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Version updated: 1.1.3
  manifest.json
  package.json
Due: none

Add propmpt for the custom variation name
  components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Fix clear all cookies logic
  components/popup/index.html
  components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Version updated: 1.1.4
  manifest.json
  package.json
Due: none

Extract logic from the main func
  components/popup/index.html
  components/popup/popup.js
  shared/styles/common.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Display version
  components/popup/index.html
  components/popup/popup.js
  shared/styles/common.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Version updated: 1.1.5
  manifest.json
  package.json
Due: none

Add current branch name (preview server) title in popup
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
  shared/styles/common.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Tidy up
  components/popup/popup.js
  shared/styles/common.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Add "new experiment" button
  components/popup/index.html
  shared/js/tabs.js
  shared/styles/tabs.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Add a new experiment addition logic
  components/popup/popup.js
  service/Optimizely.js
Due: eslint --ext=.js,.jsx,.mjs

Path conditions:
  eslint --ext=.js,.jsx,.mjs: any of: **/*.{js,jsx,mjs}
  stylelint: any of: **/*.css
