Repository 8kto/generic-chrome-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=.js,.ts, stylelint

.lintstagedrc:

{
  "**/*.{js,ts}": [
    "eslint --ext=.js,.ts"
  ],
  "**/*.{scss,css}": [
    "stylelint"
  ]
}

refactor: set innerHTML content
  src/components/popup/services/Popup.ts
Due: eslint --ext=.js,.ts

test: snaps
  src/components/popup/services/__tests__/__snapshots__/Popup.test.ts.snap
Due: none

feat: use a single service instance and do not recreate it for every updated cookies set
  src/components/popup/ViewController.ts
  src/services/Optimizely.ts
Due: eslint --ext=.js,.ts

test: cover setCookies method
  src/services/__tests__/Optimizely.test.ts
Due: eslint --ext=.js,.ts

test: snaps
  src/services/__tests__/__snapshots__/Optimizely.test.ts.snap
Due: none

style: fix the classname
  src/components/popup/index.html
  src/shared/styles/tabs.scss
Due: stylelint

refactor: clean up code, fix strict null warnings
  src/components/popup/ViewController.ts
Due: eslint --ext=.js,.ts

build: enable strict null checks
  tsconfig.json
Due: none

refactor: fix strict null warnings
  src/components/popup/services/Template.ts
  src/components/popup/services/VariableUpdate.ts
  src/components/popup/services/__tests__/Popup.test.ts
  src/services/ChromeApi.ts
  src/services/Optimizely.ts
  src/services/__tests__/Optimizely.test.ts
  src/shared/js/tabs.ts
Due: eslint --ext=.js,.ts

test: add dummy tests to display the common project coverage during the `yarn test` running
  src/components/popup/__tests__/ViewController.test.ts
  src/components/popup/services/__tests__/Template.test.ts
  src/components/popup/services/__tests__/VariableUpdate.test.ts
  src/shared/js/__tests__/tabs.test.ts
Due: eslint --ext=.js,.ts

docs: update installation and update notes
  README.md
Due: none

Version updated: 1.2.2
  manifest.json
  package.json
Due: none

build: use strict mode
  tsconfig.json
Due: none

fix: strict errors
  src/components/popup/ViewController.ts
  src/services/__tests__/ChromeApi.test.ts
Due: eslint --ext=.js,.ts

test: extract mocks
  src/components/popup/__tests__/mocks.ts
  src/services/__tests__/Optimizely.test.ts
  src/shared/tests/mocks.ts
Due: eslint --ext=.js,.ts

test: add basic integration tests for popup controller
  src/components/popup/__tests__/ViewController.test.ts
Due: eslint --ext=.js,.ts

test: fix test, mock service and render correct layout
  src/components/popup/__tests__/ViewController.test.ts
  src/components/popup/__tests__/mocks.ts
Due: eslint --ext=.js,.ts

feat: enhance mock with experiment vars
  src/shared/tests/mocks.ts
Due: eslint --ext=.js,.ts

test: snaps
  src/components/popup/__tests__/__snapshots__/ViewController.test.ts.snap
Due: none

test: snaps
  src/components/popup/__tests__/__snapshots__/ViewController.test.ts.snap
  src/services/__tests__/__snapshots__/Optimizely.test.ts.snap
Due: none

feat: add isVisible jest matcher support
  jest-setup.js
  jest.config.js
  tsconfig.json
Due: eslint --ext=.js,.ts

feat: add js-dom testing lib for jest
  package.json
  yarn.lock
Due: none

refactor: remove unused chrome mock
  src/components/popup/__tests__/mocks.ts
Due: eslint --ext=.js,.ts

refactor: tidy up code: use types in generics
  src/components/popup/ViewController.ts
Due: eslint --ext=.js,.ts

test: fix mocks clearing, extend layout tests
  src/components/popup/__tests__/ViewController.test.ts
Due: eslint --ext=.js,.ts

build: disable snapshots hinting
  .eslintrc.js
Due: eslint --ext=.js,.ts

test: remove snapshots hints
  src/components/popup/__tests__/ViewController.test.ts
  src/services/__tests__/Optimizely.test.ts
Due: eslint --ext=.js,.ts

fix: use correct selectors
  src/components/popup/ViewController.ts
Due: eslint --ext=.js,.ts

test: extend tests
  src/components/popup/__tests__/ViewController.test.ts
Due: eslint --ext=.js,.ts

test: update snaps
  src/components/popup/__tests__/__snapshots__/ViewController.test.ts.snap
Due: none

Version updated: 1.2.3
  manifest.json
  package.json
Due: none
