Repository 8kto/generic-chrome-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=.js,.jsx,.mjs, stylelint

.lintstagedrc:

{
  "**/*.{js,jsx,mjs}": [
    "eslint --ext=.js,.jsx,.mjs"
  ],
  "**/*.css": [
    "stylelint"
  ]
}

Update GUI screenshot
  images/ui-tab-list.png
Due: none

Fix formatting
  components/popup/index.html
  manifest.json
Due: none

Version updated: 1.1.6
  manifest.json
  package.json
Due: none

Extend docs
  README.md
Due: none

Migrate everything under src/ dir
  src/components/options/index.html
  src/components/options/options.js
  src/components/popup/__tests__/helpers.test.js
  src/components/popup/helpers.js
  src/components/popup/index.html
  src/components/popup/popup.js
  src/components/popup/styles.css
  src/images/igel128.png
  src/images/igel16.png
  src/images/igel32.png
  src/images/igel350.jpg
  src/images/igel48.png
  src/images/ui-tab-list.png
  src/services/Optimizely.js
  src/services/Template.js
  src/shared/js/tabs.js
  src/shared/styles/common.css
  src/shared/styles/reset.css
  src/shared/styles/tabs.css
  src/shared/styles/variables.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Remove leftover
  src/components/popup/helpers.js
Due: eslint --ext=.js,.jsx,.mjs

Add Jest configuration for running tests
  .eslintignore
  .eslintrc.js
  .gitignore
  babel.config.json
  jest.config.js
  package.json
  yarn.lock
Due: eslint --ext=.js,.jsx,.mjs

Tidy up, restore helper util
  manifest.json
  src/components/popup/index.html
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Fix image urls
  README.md
Due: none

Extend tests, fix default value
  src/components/popup/__tests__/helpers.test.js
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Extend variations number up to the current num (or to the default max=3)
  src/components/popup/__tests__/helpers.test.js
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Extend docs
  README.md
  src/components/popup/index.html
Due: none

Fix paths for the feature-flag cookies
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Update docs, add Release section
  README.md
Due: none

Version updated: 1.1.7
  manifest.json
  package.json
Due: none

Extend the workflow
  .github/workflows/main.yml
Due: none

Fix booleans vars handling, refactoring
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Version updated: 1.1.8
  manifest.json
  package.json
Due: none

Rework v_name look
  src/services/Template.js
Due: eslint --ext=.js,.jsx,.mjs

Add new color vars
  src/shared/styles/variables.css
Due: stylelint

Style variables list
  src/components/popup/popup.js
  src/components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Ignore coverage
  .eslintignore
  .prettierignore
Due: none

Run linters only in src
  package.json
Due: none

Format file
  src/components/popup/index.html
Due: none

Reload tab on reset
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Update styles
  src/shared/styles/common.css
  src/shared/styles/tabs.css
Due: stylelint

Add new tab with details
  src/components/popup/index.html
  src/components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Add is valid feature flags check
  src/services/Optimizely.js
Due: eslint --ext=.js,.jsx,.mjs

Check in popup for multiple FF cookies
  src/components/popup/popup.js
  src/shared/styles/common.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Update docs
  README.md
  src/components/popup/index.html
Due: none

Version updated: 1.1.9
  manifest.json
  package.json
Due: none

Update UI screen
  src/images/ui-tab-list.png
Due: none

Version updated: 1.1.10
  manifest.json
  package.json
Due: none

Extend installation section
  README.md
Due: none

Enable markdown formatting
  package.json
Due: none

Format code
  README.md
  src/components/popup/index.html
Due: none

Add tests for isFeatureFlagsValid
  src/services/__tests__/Optimizely.test.js
Due: eslint --ext=.js,.jsx,.mjs

Install rewire package
  package.json
  yarn.lock
Due: none

Disable test :(
  src/services/__tests__/Optimizely.test.js
Due: eslint --ext=.js,.jsx,.mjs

Rework messaging when FF cookies are empty or invalid
  src/components/popup/popup.js
  src/services/Optimizely.js
Due: eslint --ext=.js,.jsx,.mjs
