Repository 8kto/generic-chrome-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=.js,.jsx,.mjs, stylelint

Install linter packages
  package.json
  yarn.lock
Due: none

Add husky hooks
  .husky/.gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

Add scripts
  .eslintrc.js
  package.json
Due: eslint --ext=.js,.jsx,.mjs

Reformat code
  background.js
  components/options/index.html
  components/options/options.js
  components/popup/button.css
  components/popup/index.html
  components/popup/popup.js
  manifest.json
  service/optimizely.js
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Update dependencies
  .nvmrc
  package.json
Due: none

Refactor components, prepare for the services usage
  components/popup/button.css
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Remove background script
  background.js
  manifest.json
Due: eslint --ext=.js,.jsx,.mjs

Extract and update services
  service/optimizely.js
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Add CSS reset
  shared/styles/reset.css
Due: stylelint

Render proper layout, handle experiments
  service/optimizely.js
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Render nice experiments list
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Fix checked state
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Allow to disable/enable feature flags. Reset cookies.
  components/popup/index.html
  components/popup/popup.js
Due: eslint --ext=.js,.jsx,.mjs

Split logic between the extension script and the page
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Make template methods static
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Handle empty experiments
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Display sublists with the variables
  components/popup/styles.css
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Prepare vars list for edits, show message afterward, reload tab
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
  manifest.json
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Apply boolean vars changes
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Handle var updates
  service/optimizely.js
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Refactor, fix todos
  service/optimizely.js
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Refactor, handle page reload better
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Display dropdowns for the variations
  components/popup/popup.js
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Allow select variation
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Fix formatting
  package.json
Due: none

Update docs
  README.md
Due: none

Introduce tabs
  shared/js/tabs.js
  shared/styles/tabs.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Rework styles, add tabs for content
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Extract styles, split to the modules
  shared/styles/common.css
  shared/styles/tabs.css
  shared/styles/variables.css
Due: stylelint

Tidy up, fix layout
  components/popup/index.html
  components/popup/popup.js
  components/popup/styles.css
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Display experiments JSON in textarea
  components/popup/index.html
  components/popup/popup.js
  shared/styles/common.css
  shared/styles/tabs.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Rename method
  components/popup/popup.js
  service/template.js
Due: eslint --ext=.js,.jsx,.mjs

Rename services files
  components/popup/index.html
  components/popup/popup.js
  service/Optimizely.js
  service/Template.js
Due: eslint --ext=.js,.jsx,.mjs

Rework messages displaying
  components/popup/index.html
  components/popup/popup.js
  service/Template.js
  shared/styles/common.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Allow raw JSON editing
  components/popup/index.html
  components/popup/popup.js
  service/Template.js
Due: eslint --ext=.js,.jsx,.mjs

Style scrollbars
  shared/styles/common.css
Due: stylelint

Add docs tab
  components/popup/index.html
  components/popup/popup.js
  shared/styles/common.css
  shared/styles/tabs.css
Due: eslint --ext=.js,.jsx,.mjs, stylelint

Update readme with the mascot
  README.md
Due: none

Update icons set
  images/get_started128.png
  images/get_started16.png
  images/get_started32.png
  images/get_started48.png
  images/igel.jpg
  images/igel128.png
  images/igel16.png
  images/igel32.png
  images/igel48.png
Due: none

Update naming
  README.md
  manifest.json
Due: none

Path conditions:
  eslint --ext=.js,.jsx,.mjs: any of: **/*.{js,jsx,mjs}
  stylelint: any of: **/*.css
